@model  List<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form id="createCategory" method="post">
    <div class="row">
        <div class="col-md-4">
            <label>Name <span class="text-danger">*</span></label>
            <input class="form-control" name="Name" />
            <br />
            <label>Description <span class="text-danger">*</span></label>
            <input class="form-control" name="Description" />
            <br />
            <label>Image</label>
            <input class="form-control" id="ImageURL" name="ImageURL" type="hidden" />
            <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            <br />
            <div class="thumb">
                <img id="categoryImage" />

            </div>
            <label>Is Featured?</label>
            <input class="form-control" name="IsFeatured" type="radio" value="True" /> True
            <input class="form-control" name="IsFeatured" type="radio" value="False" /> False


        </div>
    </div>
    <button class="btn btn-primary" id="saveBtn" type="button">Submit</button>
    <button class="btn btn-primary" id="cancelBtn" type="button">Cancel</button>
</form>

<script>
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false

        })
            .done(function (response) {
                console.log(response)

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);

                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail")
            });
    });
    $('#createCategory').validate({
        rules: {
            Name:
            {
                required: true,
                minlength: 5,
                maxlength:50
            },
            Description:
            {
                maxlength: 500
            },
        },
        messagees:
        {
            Name:
            {
                required: 'Name is required',
                minlength: 'Minimum length is 5',
                maxlength: 'Maximum length is 50'
            },
            Description:
            {
                maxlength: 'Maximum length is 500'

            },
        }
    })
    //Save Button
        $("#saveBtn").click(function () {

            if ($("#createCategory").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Category")',
                    data: $("#createCategory").serialize()

                })
                    .done(function (response) {

                        $("#tableContiner").html(response);
                        $("#actionContiner").html("");

                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        swal({
                            title: "Warning",
                            text: "All enter required filed.",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        });
                    });
            }

            else {
                swal({
                    title: " JS Warning",
                    text: "All enter required filed.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                });
            }
            });


    $("#cancelBtn").click(function () {

        $("#actionContiner").html("");
        focusAction("tableContiner");
      });

</script>