
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContiner">
        @{
            Html.RenderAction("CategoryTable");
            // Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div id="actionContiner">

    </div>
</div>
<script>
    function focusAction(controlfocus)
    {
        $('html,body').animate({
            scrollTop: $("#" + controlfocus).offset().top-100
        },1000)
    }
</script>